@page
@{
}
<div class="text-center">
    <h2>Thanks! Your order has been placed!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=-5OlIb4BCnY" allowfullscreen></iframe>
    </div>
</div>