@page "/admin"



<!DOCTYPE html>

<html>

<head>
    <title>Books Project Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />


</head>

<body>

    <component type="typeof(Mission7.Pages.Admin.Routed)" render-mode="ServerPrerendered" />
    <script src="/_framework/blazor.server.js"></script> 

</body>


</html>